noderedapp.txt
[{"id":"8315260f.5840a8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"2271699e.d16736","type":"debug","z":"8315260f.5840a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":260,"wires":[]},{"id":"7ed0ba66.15bc84","type":"function","z":"8315260f.5840a8","name":"Slot 1","func":"global.set(\"slot1\",msg.payload.slot1)\nmsg.payload=msg.payload.slot1\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["2271699e.d16736","6654e677.acb4c8","b42c468f.74e668"]]},{"id":"1b3c2068.ebb65","type":"function","z":"8315260f.5840a8","name":"Slot 2","func":"global.set(\"slot2\",msg.payload.slot2)\nmsg.payload=msg.payload.slot2\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":400,"wires":[["2271699e.d16736","172c4862.309898","eb9c639c.cd0d6"]]},{"id":"b41341d3.10612","type":"ibmiot in","z":"8315260f.5840a8","authentication":"apiKey","apiKey":"a1786d75.fb6b2","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"rasp","eventType":"Parking","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":70,"y":340,"wires":[["7ed0ba66.15bc84","1b3c2068.ebb65"]]},{"id":"6654e677.acb4c8","type":"ui_gauge","z":"8315260f.5840a8","name":"Slot 1","group":"f3dd2267.a9a83","order":8,"width":0,"height":0,"gtype":"gage","title":"Slot 1","label":"","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":340,"wires":[]},{"id":"172c4862.309898","type":"ui_gauge","z":"8315260f.5840a8","name":"Slot 2","group":"34c7c982.b2c6b6","order":9,"width":0,"height":0,"gtype":"donut","title":"Slot 2","label":"","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":400,"wires":[]},{"id":"b42c468f.74e668","type":"switch","z":"8315260f.5840a8","name":"checking for slot1","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"51","vt":"num"},{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":160,"wires":[["b9fcc190.347b2"],["c01e49b2.b4a008"]]},{"id":"eb9c639c.cd0d6","type":"switch","z":"8315260f.5840a8","name":"checking for slot2","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"51","vt":"num"},{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":500,"wires":[["3f23ec7.6546d14"],["e3c0f240.76089"]]},{"id":"b9fcc190.347b2","type":"function","z":"8315260f.5840a8","name":"SLOT1 Status","func":"msg.payload=\"Slot1 is Full\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["b854b4b5.bc61d8"]]},{"id":"c01e49b2.b4a008","type":"function","z":"8315260f.5840a8","name":"Slot1 Status","func":"msg.payload=\"Slot1 is Empty\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["b854b4b5.bc61d8"]]},{"id":"3f23ec7.6546d14","type":"function","z":"8315260f.5840a8","name":"Slot 2 Status","func":"msg.payload=\"Slot2 is Full\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":440,"wires":[["d8c610ac.6f33"]]},{"id":"e3c0f240.76089","type":"function","z":"8315260f.5840a8","name":"Slot2 Status","func":"msg.payload=\"Slot2 is Empty\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":540,"wires":[["d8c610ac.6f33"]]},{"id":"b854b4b5.bc61d8","type":"ui_text","z":"8315260f.5840a8","group":"d9112693.c87638","order":0,"width":0,"height":0,"name":"Slot 1 Status","label":"Slot 1 Status","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":140,"wires":[]},{"id":"d8c610ac.6f33","type":"ui_text","z":"8315260f.5840a8","group":"7cb6ce1b.653f1","order":0,"width":0,"height":0,"name":"Slot 2 Status","label":"Slot 2 Status","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":500,"wires":[]},{"id":"fba86f49.0e8f7","type":"http in","z":"8315260f.5840a8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":640,"wires":[["f1d5bab5.69f3a8"]]},{"id":"b5dd0aa1.ea4fa8","type":"http response","z":"8315260f.5840a8","name":"","statusCode":"","headers":{},"x":670,"y":640,"wires":[]},{"id":"f1d5bab5.69f3a8","type":"function","z":"8315260f.5840a8","name":"web url","func":"msg.payload={\"slot1\":global.get(\"slot1\"),\"slot2\":global.get(\"slot2\")}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["b5dd0aa1.ea4fa8"]]},{"id":"a1786d75.fb6b2","type":"ibmiot","z":"","name":"api","keepalive":"60","serverName":"8yp7tr.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"f3dd2267.a9a83","type":"ui_group","z":"","name":"Slot 1","tab":"b4732c36.ffa2a","order":1,"disp":true,"width":"6","collapse":false},{"id":"34c7c982.b2c6b6","type":"ui_group","z":"","name":"Slot 2","tab":"b4732c36.ffa2a","order":2,"disp":true,"width":"6","collapse":false},{"id":"d9112693.c87638","type":"ui_group","z":"","name":"Slot 1 Status","tab":"b4732c36.ffa2a","order":3,"disp":true,"width":"6","collapse":false},{"id":"7cb6ce1b.653f1","type":"ui_group","z":"","name":"Slot 2 Status","tab":"b4732c36.ffa2a","order":4,"disp":true,"width":"6","collapse":false},{"id":"b4732c36.ffa2a","type":"ui_tab","z":"","name":"Smart Parking System","icon":"dashboard","disabled":false,"hidden":false}]